<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Game</title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
			integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
			crossorigin="anonymous"
		/>
		<style>
			body {
				background: #222222;
			}
			canvas {
				margin: 0 auto;
				display: block;
			}
		</style>
	</head>
	<body>
		<canvas id="gameCanvas"></canvas>
	</body>
</html>
